<div class="card">
    <div class="card-body">
        <form [formGroup]="form" class="row g-1 needs-validation" novalidate>
            <div class="col-md-4">
                <label for="productName" class="form-label">Product-Name</label>
                <input id="productName" type="text" formControlName="productName" class="form-control" placeholder="product name" [ngClass]="{ 'is-invalid': submitted && f.productName.errors }" />
                <div *ngIf="submitted && f.productName.errors" class="invalid-feedback">Please choose a product name</div>
            </div>
            <div class="col-12 mt-4">
                <button class="btn btn-primary" type="submit" (click)="onSubmit()" aria-describedby="inputGroupPrepend">Add Product</button>
            </div>
        </form>
    </div>
</div>